apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: hotel-booking
  labels:
    app: payment-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
      - name: payment-service
        image: payment-service:latest
        imagePullPolicy: Never        
        ports:
        - containerPort: 8084
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: app-secrets
        - secretRef:
            name: jwt-keys

---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: hotel-booking
  labels:
    app: payment-service
spec:
  ports:
  - port: 8084
    targetPort: 8084
  selector:
    app: payment-service
